.deities_container {
    height: auto;
    width: 100%;
    color: white;
    position: relative;
  
}
.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.2s ease;
    position: relative;
    
}


.conatainer2{
    width: 300px;
}

.conatainer2 img{
    width: 250px;
    height: 250px;
}

.imageContainer {
    position: relative;
    width: 100%;
    background: #f7f7f7;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    display: block;
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: -20px 0 0;
    padding: 10px 0;
    padding-bottom: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(180deg, transparent, rgb(250, 136, 0));
    text-align: center;
    transition: filter 0.3s ease;
    height: 50px;
    
}

.infoTitle{
    font-weight: bold;

}

.infoTitle::after {
    content: '';
    /* position: absolute;
    left: 0;
    bottom: -5px; */
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(250, 136, 0); 
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    
}
.deity_info_box {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5;
    position: relative;
    background-color: #fcf7f7;
    opacity: 0.9;
    padding: 20px 50px;
    /* padding-top: 50px; */
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.1);
    z-index: 20; 
    height: fit-content;
    /* margin-top: 100px; */
    top:200px;
   
}
.deity_info_boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 5;
    position: relative;
    background-color: #fcf7f7;
    opacity: 0.9;
    padding: 20px 50px;
    padding-top: 50px;
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.1);
    z-index: 20; 
    height: fit-content;
    /* margin-top: 100px; */
    top:200px;
}

.contains {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 42px;
}
.imageTitle {
    margin: 0px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 12, 12, 0.5); 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    z-index: 10;
    overflow-y: auto;
   
}

.hidden {
    display: none;
}
@media (max-width: 600px) {
    .deity_info_box {
        /* width: 95%; */
        margin-top: 200px;
        top:0;
    }
}

.closeButton {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
}






.popupContainer {
    display: flex;
    flex-direction: column;
    background: white;
    
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.contentWrapper {
    display: flex;
    flex-wrap: wrap;
}

.imageContainer {
    flex: 1;
    margin-right: 20px;
    position: sticky;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deityImage {
    padding: 50px;
   
    width: 100%;
   
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.deityImage:hover {
    transform: scale(1.1);
}

.infoContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoTitle {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.infoDescription {
    text-align: justify;
    color: black;
    font-size: 18px;
}


