/* .width {
  width: 379px;
}


.customList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.customListItem {
  width: 152px;
}

.customParagraph {
  position: relative;
  bottom: 12px;
}

.customParagraph.unit1 {
  bottom: 10px;
  width: 368px;
  right: 20px;
  
}

.flexContainer {
  display: flex;
  align-items: center;
} */
.image{
  height: 30px;
  width:30px;
  margin-right: 10px;
}
.whitelogo {
  filter: invert(0) brightness(4);
}
